*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

h1 {
    color: #ffffff;
    font-size: 30px;
    transform: translateY(-200%);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    font-family: CBE5DC;
}

.h1{ 
    top: 0;
    left: 50%;
    font-size: 30px;
    transform: translateX(-10%);
    transform: translateY(-100%);
    font-weight: 900;
    color: #ffffff;
    text-align: center;
    font-size: 45px;
    margin: auto;
}

.mario {
    width: 500px;
    height: 360px;
    position: absolute;
    margin-top: 175px; /* Mover el elemento hacia abajo */
    right: 150px;
    background-image: url('../images/M1.png');
    border: none; /* Agregar esta propiedad para quitar las líneas */
    background-size: contain;
}

.steve {
    width: 150px;
    height: 200px;
    position: absolute;
    margin-top: 100px; /* Mover el elemento hacia abajo */
    right: 100px;
    background-image: url('../images/MN1.png');
    border: none; /* Agregar esta propiedad para quitar las líneas */
    background-size: contain;
}

.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #315636;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open{
    width: 250px;
}

.sidebar .logo-details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .icon{
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
    opacity: 1;
}

.sidebar .logo-details #btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn{
    text-align: right;
}

.sidebar i{
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list{
    margin-top: 20px;
    height: 100%;
}

.sidebar li{
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip{
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip{
    display: none;
}

.sidebar input{
    font-size: 15px;
    color: #FFF;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background:#192716;
}

.sidebar.open input{
    padding: 0 20px 0 50px;
    width: 100%;
}

.sidebar .bx-search{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #192716;
    color: #FFF;
}

.sidebar.open .bx-search:hover{
    background: #49a280;
    color: #FFF;
}

.sidebar .bx-search:hover{
    background: #FFF;
    color: #11101d;
}

.sidebar li a{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #192716;
}

.sidebar li a:hover{
    background: #49a280;
}

.sidebar li a .links_name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name{
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i{
    transition: all 0.5s ease;
    color: #11101d;
}

.sidebar li i{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar li.profile{
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #203823;
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li.profile{
    width: 250px;
}

.sidebar li .profile-details{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}

.sidebar li.profile .job{
    font-size: 12px;
}

.sidebar .profile #log_out{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #192716;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
}

body{
    background-image: url('../images/Fondo.jpg');
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins';
    height: 100vh;
    margin: -20px 0 50px;
}

.sidebar.open .profile #log_out{
    width: 50px;
    background: none;
}

.hidden {
    display: none;
}

.hidden2 {
    display: none;
}

.video-games i {
    color: blue;
}

.consoles i {
    color: red;
}

.accessories i {
    color: green;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #192716;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.containers {
    width: 110%; /* Ancho del contenedor, ajusta según tus necesidades */
    margin: 0 auto; /* Centra el contenedor horizontalmente en la página */
    padding: 20px; /* Espacio interno alrededor del contenedor */
    background-color: rgba(64, 224, 208, 0.4); /* Color de fondo del contenedor */
    border: 1px solid #ccc; /* Borde del contenedor */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
}

/*style table & tr*/
#superior {
    border-radius: 50px;
    border: 2px solid;
    background-color: rgba(25, 39, 22, 0.5);
}
th{
    color: #ffffff;
}
tr{
    border: 2px solid;
}
td{
    border: 2px solid;
    color: #ffffff;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}
tbody{
     /*background-color: rgba(0, 185, 129, 0.6);*/
    background-color: rgba(64, 224, 208, 0.4);
     border-radius: 20%;
}
tbody {
  align-items: baseline;
  justify-content: flex-end;
}

.create {
    border: 2px solid #192716;
    background-color: #49a280;
    border-radius: 0.9em;
    padding: 0.8em 1.2em 0.8em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
}
   
.create span {
display: flex;
justify-content: center;
align-items: center;
color: #fff;
font-weight: 600;
}
   
.create:hover {
background-color: #192716;
 border: 2px solid #49a280;
}
/*buttons editar y eliminar*/
.edit {
font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono","Courier New", monospace;
font-size: 17px;
padding: 1em 2.7em;
font-weight: 500;
background: #1F2937;
color: white;
border: none;
position: relative;
overflow: hidden;
border-radius: 0.6em;
cursor: pointer;
}
  
.gradient {
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
border-radius: 0.6em;
margin-top: -0.25em;
background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgb(25,39,22));
}
  
.label {
position: relative;
top: -1px;
}
  
.transition {
transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
transition-duration: 500ms;
background-color: rgba(16, 185, 129, 0.6);
border-radius: 9999px;
width: 0;
height: 0;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}
  
.edit:hover .transition {
width: 14em;
height: 14em;
}
  
.edit:active {
transform: scale(0.97);
}

button {
font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono","Courier New", monospace;
font-size: 17px;
padding: 1em 2.7em;
font-weight: 500;
background: #1F2937;
color: white;
border: none;
position: relative;
overflow: hidden;
border-radius: 0.6em;
cursor: pointer;
}
  
.gradient {
 position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
border-radius: 0.6em;
margin-top: -0.25em;
background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgb(25,39,22));
}
  
.label {
 position: relative;
top: -1px;
}
  
.transition {
transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
transition-duration: 500ms;
background-color: rgba(16, 185, 129, 0.6);
border-radius: 9999px;
width: 0;
height: 0;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}
  
button:hover .transition {
 width: 14em;
 height: 14em;
}
  

  button:active {
    transform: scale(0.97);
  }

  .custom-select {
    /* Agrega tus estilos personalizados aquí */
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    width: 90%;
    font-family: poppins;
}